@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap');

*{
    font-family: 'New Amsterdam ' , sans-serif;
    box-sizing: border-box;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}
#boxresultado{
    width: 500px;
    height: 200px;
    margin: auto;
    background: rgb(117, 171, 207);
    border-radius: 20px;
    padding-top: 10px;
}
button{
    margin-top: 10px;
    width: 100px;
    border-radius: 20px;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.384);
    cursor: pointer;
}
.result{
    width: 100%;
}